* {
  padding: 0px;
  margin: 0px;
}

#bigdiv {
  position: absolute;

  background: linear-gradient(
    120deg,
    rgb(193, 209, 12),
    #42b326,
    rgb(26, 223, 134),
    #00b8a5,
    rgb(36, 168, 196),
    rgb(39, 110, 209),
    rgb(213, 0, 253),
    rgb(248, 55, 76),
    rgb(251, 86, 7)
  );
  height: 50vh;
  width: 100vw;
}
body {
  background-color: beige;
  height: 10000px;
}
#nav {
  position: fixed;
  margin-top: 10px;

  z-index: 20;
  height: 90px;
  width: calc(100% - 33px);
  margin-left: 16.5px;
  margin-right: 16.5px;
}

#links li {
  color: red;
  display: inline-block;
  background-color: transparent;
  margin-right: 16.5px;
}

.link:link,
.link:visited {
  font-size: 26.4px;
  font-weight: 200;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: black;
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  width: 50px;
  height: auto;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  float: right;
}

